
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom right, #6f4e37, #d7ccc8);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.login-container {
  background: #fff;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
  width: 320px;
  text-align: center;
}


.login-container h2 {
  margin-bottom: 20px;
  color: #5a3825;
}


.login-container label {
  display: block;
  text-align: left;
  margin: 10px 0 5px;
  font-weight: bold;
  color: #3e2723;
}


.login-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}


.login-container button {
  width: 100%;
  padding: 12px;
  background: #6f4e37;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.login-container button:hover {
  background: #5a3825;
}


.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
